/* You can add global styles to this file, and also import other style files */
.image{

  background-image: url('./assets/pic.jpg');
   background-size: 100% auto;
   background-repeat: no-repeat;
   opacity: 0.8 ;

}
