@media screen and (min-width:1200px) and (max-width:1600px) {
#input{

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 90px;
    padding: 40px;
    font-size:30px;

}
#title{
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
}
input::-webkit-input-placeholder {
	padding:  4px;
    font-size: 25px;
    line-height: 3;
}

#select{
    width: 248px;
    height: 90px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 22px
}
.options{
width: 248px;
}
.autoComplete{
    margin-left: 263px;
    margin-top: 24px;

}
}
@media screen and (min-width:768px ) and (max-width:1199px) {

#input{

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 80px;
    padding: 40px;
    font-size:30px;

}
input::-webkit-input-placeholder {
    padding:  4px;
    font-size: 25px;
    line-height: 3;
}
#title{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
}

#select{
    width: 189px;
    height: 80px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 22px
}
.options{
width: 248px;
}
.autoComplete{
    margin-left: 263px;
    margin-top: 24px;

}


}
@media screen and (min-width:480px )and (max-width:765px) {

#input{

    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 80px;
    padding: 40px;
    font-size:30px;

}
#title{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}

/*/*input::-webkit-input-placeholder {
    padding:  4px;
    font-size: 25px;
    line-height: 3;
}*/

#select{
    width: 113px;
    height: 80px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    font-size: 22px
}
.options{
width: 248px;
}
.autoComplete{
    margin-left: 263px;
    margin-top: 24px;

}


}