<div class="container">
<div id = "typedjs" class="wrapper">
  <p><strong>Oxford Living Dictionaries</strong></p>
  <p><strong>Making things understandable</strong></p>
  </div>   
  <br><br>
  <span id="typed"> </span>
<br><br>
<div class="row">
  <div class="col-lg-12">

    <div class="input-group">
      <div class="input-group-btn">
      <select id="select" [(ngModel)]="selectedId" class="form-control" name= "dictionary">
  <option [ngValue]="undefined" disabled selected>Select a dictionary</option>
  <option  [ngValue]="button.id" placeholder = "select a dictionary"*ngFor="let button of buttons;let i = index"  >{{button.source}}</option>
  </select>
  </div>
 <input  type="text" id="input" (keyup)="search($event);nextState($event)"class="form-control form-rounded" 
   [(ngModel)]="data"
  (ngModelChange)="search()"  placeholder="Search for any word"> 
   </div>
 </div>
</div>
   <div class="row">
       <div class="autoComplete" *ngIf="this.limit >= 3" > 
                <ul  *ngFor="let suggestion of searchData" >
                    <li>
                        <a (click)="selectedItem(suggestion);">{{suggestion}}</a>
                    </li>
                </ul>
            </div>
 </div>
</div>

